@import "../ui/variables";

.footer {

  background-color: rgb(33, 140, 141);
  height: @footer-height;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;

  a {
    color: white;
    padding: 0 12px;
  }
}
