@import "mixins";
@import "variables";

.footer {

  //background-image: url("/img/footer-bg.jpg");

  @darken: 0.25;

  background: linear-gradient(
          rgba(0, 0, 0, @darken),
          rgba(0, 0, 0, @darken)
  ), url("/img/footer-bg.jpg");

  @bgSize: cover;
  .bg-size(@bgSize);
  background-position-y: bottom;
  background-position-x: right;

  height: @footer-height;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;

  a {
    color: white;
    padding: 0 12px;
  }
}
