@import "mixins";
@import "variables";

.header {

  z-index: 1;
  position: relative;

  .hero {

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 600px;

    .transition(~"height", 0.3s);

    @media @mobile-small {
      height: 350px;
    }

    @darken: 0.25;

    background: linear-gradient(
            rgba(0, 0, 0, @darken),
            rgba(0, 0, 0, @darken)
    ), url("/img/hero-bg.jpg");

    @bgSize: cover;
    .bg-size(@bgSize);
    background-position-y: top;
    background-position-x: right;

    .hero-text {

      padding: 24px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      color: white;

      h1 {
        font-size: 3rem;
        @media @mobile-small {
          font-size: 2rem;
        }
        font-weight: bold;
        margin: 0;
      }

      h2 {
        font-size: 2rem;
        @media @mobile-small {
          font-size: 1.4rem;
        }
        font-weight: bold;
        margin: 0;
      }
    }
  }
}
