@import "../ui/variables";
@import "../ui/mixins";

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  font-family: monospace, serif;
  margin: 0;
}

::-webkit-scrollbar {
  width: 0; /* remove scrollbar space */
  background: transparent; /* optional: just make scrollbar invisible */
}

.app-body {

  opacity: 0;
  .blur(20px);

  &.show {
    opacity: 1;
    .blur(0px);
  }

  .transition(~"opacity, filter", .7s);

  .content {

    padding: 24px;
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    margin-bottom: @footer-height;
    background-color: white;
    z-index: 1;

    .content-inner {
      display: flex;
      justify-content: center;
    }
  }
}
