* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  font-family: monospace, serif;
  margin: 0;
}

body {
  // See: https://stackoverflow.com/questions/10592411/disable-scrolling-in-all-mobile-devices
  position: relative;
}

::-webkit-scrollbar {
  width: 0;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
}

.content {

  display: flex;
  justify-content: center;
  width: 100%;

  .content-inner {
    display: flex;
    justify-content: center;
  }
}
